$font-size:12px;
$font-size-s:10px;
$font-size-l:18px;
$font-weight:600;
$green:#77a703;
$black:#000;
$font-bold:900;
$raleway:"Raleway";
$margin-left:65px;
$background:#f1ecf2;
$inside-box-color:#fff;
$m-left:28px;




p {
    font-size: $font-size-s;
}
.icon-box {
    color:$green;
    font-size:2em;
}
.icon-box i {
    
}
span .black {
    color:$black;
    font-weight:$font-bold;
}
.border .h3-box2 {
    font-size:$font-size;
    font-family:$raleway;
    font-weight:$font-weight;
}
.border .box2 {
    background-color:$inside-box-color;
}
.icon-box {
    margin-left:$margin-left;
}
.box2 {
    background-color:$background;
}
h3 .box2 .bold .green-letters {
    color:$green;
    font-weight:$font-bold;
}
.box2 i {
    margin-left:$m-left;
}
h3 .box2 .bold {
    font-family:$raleway;
    font-weight:$font-bold;
}
.box2 .col-md-7 {
    background:#fff;
    max-width:250px;
    height:200px;
    
}
.box2 .box-right {
    background:$background;
}
h3 .green-letters {
    color:$green;
    font-family:$raleway;
    font-weight:900;
    font-size:22px;
}
h3 .thin-green-letters {
    font-weight:300;
    color:$green;
    font-size:22px;
}
h3 .black-letters {
    color:black;
}
.box-z-czterema-boxami {
    justify-content:space-evenly;
}
h3 .h3-box2 {
    font-weight:400;
}
.row .space {
    justify-content:space-evenly;
}
.box-lewy-gorny, .box-prawy-gorny {
    margin-bottom:13px;
    margin-top:40px;
}
.border {
    box-shadow:2px 2px #aca1a1
}