@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,900&subset=latin-ext');


$green: #6fa40b;
$lightgreen: #edf4e1;

$lato: 'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;


*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;        
    position: relative;
    top: 0;     
}

a{
    text-decoration: none;
    padding: 0px;
    }

a:focus{  
    outline: none;
}

.box3{    
    padding-bottom: 50px;
    padding-top: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
//    -webkit-flex-direction: column;
//    -moz-flex-direction: column;
//    -ms-flex-direction: column;
//    -o-flex-direction: column;
//    flex-direction: column;
    display: block;    
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    align-content: center;
    height: 805px;
    width: 100%;
    background-color: #ffffff;    
    
    .b3-container{
        margin: 0 auto;
        max-width: 1200px;    
        background-color: #ffffff;

        .b3-box-topic{
            text-align: center;
            margin-bottom: 20px;

            h5{
                text-align: center;
                color: #ffffff;
                background-color: #000000;
                font-family: $lato;
                font-size: 12px;
                line-height: 24px;
                width: 120px;
                height: 24px;
                display: inline-block;
                margin-bottom: 20px;
            }

            .b3-the{
                color: $green;
                font-family: $raleway;
                font-size: 48px;
                line-height: 48px;
                font-weight: 900;
            }

            .b3-story{
                color: #000000;
                font-family: $raleway;
                font-size: 48px;
                line-height: 48px;
                font-weight: 900;
            }

            .b3-aboutus {
                color: $green;
                font-family: $raleway;
                font-size: 48px;
                line-height: 48px;
                font-weight: 300;
            }

            p{
                margin: 0 auto;
                text-align: center;
                color: #555555;
                font-family: $lato;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                max-width: 630px;
            }
        }

        .b3-box-images{
            position: relative;
            top: 0;        
            width: 100%;
//            min-height: 480px;            

            .b3-box-lightgreen{
                position: relative;
                left: 90px;
                width: 100%;
                max-width: 465px;
                max-height: 480px;                
                height: 100%;
                background-color: $lightgreen;
                display: block;
                min-height: 400px;
            }

            .b3-box-darkgreen {            
                position: absolute;
                top: 12.5%;
                bottom: 12.5%;
                max-width: 570px;
                max-height: 360px;
                width: 100%;
//                height: 100%;

                img{                    
                    max-width: 570px;
                    max-height: 360px;
                    width: 100%;
                }
            }            
        }

        .b3-box-description{            
            display: -ms-flexbox;
            display: -webkit-flex;            
            display: flex;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;            
            flex-direction: column;             
            justify-content: center;            
            padding-left: 50px;
            height: 480px;        
//            max-width: 500px;
            min-height: 400px;
            width: 100%;

            h4{            
                text-align: left;
                font-family: $raleway;
                color: $green;
                font-size: 24px;
                line-height: 24px;
                font-weight: bold;
            }

            .italic{
                color: #000000;
                font-family: $raleway;
                font-size: 14px;
                line-height: 24px;
                font-style: italic;
            }

            .regular {
                color: #666366;
                font-size: 16px;
                font-family: $lato;
                line-height: 24px;
                font-weight: 400;
            }
        }
    }    
}

@media screen and (max-width: 1199px){
    
    .box3{        
        height: 100%;
        min-height: 805px;        

        .b3-container{            
            max-width: 1199px;                
            
            .b3-box-images{
                max-height: 460px;                

                .b3-box-lightgreen{                    
                    left: 0;                    
                    float: right;
                    max-height: 460px;
                    height: 100%;
                    width: 40vw;
                }

                .b3-box-darkgreen {                                             
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    align-items: center; 
                }            
            }            
        }
    }    
}

@media screen and (max-width: 767px){    

    .box3{
        max-height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;

        .b3-container{
            max-width: 767px;    

            .b3-box-topic{
                text-align: center;
                min-height: 100px;
                max-height: 200px;
                margin-bottom: 30px;
            }

            .b3-box-images{
                position: relative;
                top: 0;        
                display: -ms-flexbox;
                display: -webkit-flex;            
                display: flex;                
                justify-content: center;
                min-height: 250px;
                height: 400px;
                max-margin: 0 auto;
                width: 100%;
                min-width: 320px;
                                

                .b3-box-lightgreen{
                    width: 100%;    
                    float: none;      
                }
                
                .b3-box-darkgreen {                    
//	                width: 100%;  
                    
                    
                }
            }

            .b3-box-description{                
                padding-left: 35px;
                padding-right: 35px;                
                max-height: 380px;                                 
                margin: 0 auto;               
            }
        }    
    }    
}


@media screen and (max-width: 575px){    

    .box3{

        .b3-container{
            max-width: 575px;    

            .b3-box-topic{
                text-align: center;
                min-height: 100px;
                max-height: 380px;
                margin-bottom: 30px;
            }

            .b3-box-images{                
                min-height: 100px;
                max-height: 380px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 0;
                padding: 0;
                

                .b3-box-lightgreen{
                    min-height: 100px;
                    max-height: 90vw;                    
                }
            }

            .b3-box-description{                   
                padding: 50px 35px;                
                min-height: 350px;
                height: 100%;     
                max-height: 480px;
                margin: 0 auto;               
            }
        }    
    }   
    
}

